﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -KİRALIK KUTU</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div class="row">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="~/Content/ımg/kira.jpg" width="40" height="40" class="img-circle" />
                        </a>
                        @Html.ActionLink("KİRALIK KUTU", "Index", "Home", new { area = "   " }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Ana Sahifa", "Index", "Home")</li>
                            <li>@Html.ActionLink("konut", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Araba", "About", "Home")</li>
                            <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> ÜYE OL</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> OTURUMU AÇ</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Diller
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">TÜRKÇE</a></li>
                                    <li><a href="#">ENGLISH</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container body-content">
            @RenderBody()
            <hr style="color:black;"/>
            <footer style="background-color:gray;">
                <div >
                    <p>&copy; @DateTime.Now.Year - KİRALIK KUTU</p>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
